<!DOCTYPE html>
<html>
<head>
  <title>Graph</title>
  <style>
    .btn-container-right {
      direction: rtl;
    }
  </style>
</head>

  <body>
    <div id="files">
      
    </div>
  </body>

  <script src="javascripts/data.js"></script>

</html>