<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/footer.css">

  </head>
  <body>
  <div class="footer navbar-fixed-bottom">
    <footer class="footer-distributed">
      <div class="container">
        <div class="footer-right">

        <a href="https://www.facebook.com/cuautonomousbicycle/"><i class="fa fa-facebook"></i></a>
        <a href="https://github.com/pehuenmoure/autonomous_bicycle"><i class="fa fa-github"></i></a>

      </div>

      <div class="footer-left">

        <p class="footer-links">
          Location: Biorobotics Lab, 569 Upson Hall, Cornell University, Ithaca, NY
        </p>

        <p id="homefot">Cornell Autonomous Bicycle Team &copy; 2017</p>
      </div>
      </div>
    </footer>
    </div>

  </body>
</html> 