<!DOCTYPE html>
<html>
<head>
  <title>Graph</title>
  <style>
    .btn-container-right {
      direction: rtl;
    }
  </style>
</head>

  <body>
    <p id="files"></p>
  </body>

  <script src="javascripts/data.js"></script>
  
</html>