<!DOCTYPE html>
<html>
<head>
  <!--<script src="/socket.io/socket.io.js"></script>-->
  <title>Graph</title>

  <style>
    .btn-container-right {
      direction: rtl;
    }
  </style>

  <script type="text/javascript">
  $.ajax({
    url: window.location.origin+'/testnames',
    type: 'GET',
    dataType: 'json', // added data type
    success: function(res) {
        for(var i = 0; i < res.length; i++){
          var test = res[i];
          addFileHTML(test["title"], test["tid"]);
          document.getElementById(toString(test["tid"])).addEventListener("click", function() {
              downloadFile(test["title"]);
          }, false);
        }
    }
  });

function addFileHTML(filename, id){
    var form ='<div class="row">\
        <div class="col-lg-6">\
          <div class="input-group">\
            <span class="input-group-btn">\
              <button class="btn btn-secondary" type="button" onclick="sendNote(\'heelo.csv\',$(\''+id+'\').val())">Add note</button>\
            </span>\
            <input type="text" class="form-control" placeholder="Note..." >\
          </div>\
        </div>\
      </div>'
      var button = "<h1>"+filename +"</h1>"+form+"\n" +"<div class=\'btn-container-right\'>" +"<button type=\"button\" class=\"btn btn-info\" id=\""+id+"\">Download</button>" + "</div>"+ "<hr/>";

    $('#files').after(
        button
      );
    console.log(form + button);
  }

function downloadFile(filename){
  console.log(filename);
}


  </script>

</head>

<body>

  <p id="files"></p>
  
  
</body>

</html>