<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <!--Google Sign In-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="133918830188-qdv3gp9c8bdp0849mg7ml9l4eu4efbm9.apps.googleusercontent.com">
    <!--Client secret: zsyif6sGdREXAd111-l9gonh-->

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

<style>
  #nav{
    background-color: black;
    font-family: Raleway;
    width: auto !important;
  }
  /*spacing below navbar*/
  #navpad { 
    padding-top: 85px; 
  }
  .navbar{
    min-height: 0px;
    font-size: 18px;
  }
  /*set text position in navbar*/
  .navbar-nav li a {
    line-height: 35px;
  }
  .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }

  #logo {
    width: 50px;
    height: 50px; 
  }

  #homei {
    margin-top: -5px;
  }

  hr{
      /* https://css-tricks.com/examples/hrs/ */
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

    h1{
      font-family: Raleway;
      font-size: 32px;
    }
    p{
      font-family: Open Sans;
      font-size: 14px;
    }

    .shadow {
      border-radius: 10px;
      -webkit-box-shadow: 1px 1px 2px 3px #e6e6e6;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow:    1px 1px 2px 3px #e6e6e6;  /* Firefox 3.5 - 3.6 */
      box-shadow:         1px 1px 2px 3px #e6e6e6;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }

</style>


<script type="text/javascript">
var teamEmails = 
    ['rb696@cornell.edu',
    'kaf222@cornell.edu',
    'dem292@cornell.edu', 
    'kaf222@cornell.edu',
    'dem292@cornell.edu',
    'oai2@cornell.edu',
    'ab873@cornell.edu',
    'jsf239@cornell.edu',
    'dm585@cornell.edu',
    'kwf37@cornell.edu',
    'wsm64@cornell.edu',
    'cdm223@cornell.edu',
    'ppm44@cornell.edu',
    'fk233@cornell.edu',
    'feb45@cornell.edu',
    'mo345@cornell.edu',
    'ad765@cornell.edu'];

  $("#graphi").hide();
  $("#navigation").hide();

  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    

    if($.inArray('specialword', teamEmails)){
      $("#graphi").show();
      $("#navigation").show();
      console.log("rohit2 signed in")
    }
  }

  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
    $("#graphi").hide();
    $("#navigation").hide();
  }

</script>

</head>
<nav class="navbar navbar-inverse navbar-fixed-top" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <ul class="nav navbar-nav">
        <li id="homei">
          <a class="navbar-brand" href="#home">
            <img id="logo" src="/images/bikelogo.png" style="display: inline-block;">
            <span style="display: inline-block;">Autonomous Bicycle Team</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse navbar-left" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="graphi"><a href="#graph" id="graph" >Graph</a></li>
        <li id="navi"><a href="#navigation" id="navigation">Navigation</a></li>
        <li id="abouti"><a href="#about" id="about">About</a></li>
        <li id="teami"><a href="#team" id="team">Team</a></li>
        <li id="subteami"><a href="#subteams" id="subteams">Subteams</a></li>
        <li id="g-signin"><div class="g-signin2" data-onsuccess="onSignIn"></li>
        <li id="g-signout"> <a href="#" onclick="signOut();">Sign out</a></div></li>
      </ul>
    </div>
  </div>
</nav>

  <body id="navpad">
    
  </body>
</html> 