<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Cornell Autonomous Bicycle</title>
    <style>
    .center1{
       	display: table;
        margin: 0 auto; 
    }

    .padding1{
    	padding-top: 15px;
    	padding-bottom: 25px;
    }
    .padding2{
        padding-top: 30px;
        padding-bottom: 30px;
    }


    </style>
    <body>
    	<h1 class="center1 padding1">Cornell Autonomous Bicycle Team</h1>

    	<img class="displayed center1" src="/images/team.JPG" width=600 style="padding-top: 40px;">
        <hr>
        <h2 class="center1 padding2">Watch our bike roll!</h2>
        
        <iframe class="center1" src="https://player.vimeo.com/video/220237510" width="auto" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <hr>
        <h2 class="center1 padding2">Matlab simulation of bicycle turning</h2>
        
        <iframe src="https://player.vimeo.com/video/220237517" width="640" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    
    </body>
</html> 