<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Cornell Autonomous Bicycle</title>
    <style>
    .center1{
       	display: table;
        margin: 0 auto; 	
    }
    .padding1{
    	padding-top: 15px;
    	padding-bottom: 25px;
    }
    </style>
<body>
	<h1 class="center1 padding1">Cornell Autonomous Bicycle Team</h1>
	<img class="displayed center1" src="/images/team.jpg" width=600>
</body>
</html> 