<!DOCTYPE html>
<html>
<head>
  <title>Recruitment</title>
</head>
<body>

  <h1>
  We are currently not looking for new members. Please check back at the beginning of next semester!
  </h1>

</body>

</html>